<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MyWindowsMediaPlayer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="MyWindowsMediaPlayer.Conf.Settings1" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <MyWindowsMediaPlayer.Properties.Settings>
            <setting name="LibPath" serializeAs="String">
                <value>../../Conf\Library.xml</value>
            </setting>
            <setting name="MusicPath" serializeAs="String">
                <value>../../Conf\Library.Musics.xml</value>
            </setting>
            <setting name="ImagePath" serializeAs="String">
                <value>../../Conf\Library.Images.xml</value>
            </setting>
            <setting name="VideoPath" serializeAs="String">
                <value>../../Conf\Library.Videos.xml</value>
            </setting>
        </MyWindowsMediaPlayer.Properties.Settings>
        <MyWindowsMediaPlayer.Conf.Settings1>
            <setting name="Lib" serializeAs="String">
                <value>C:\Users\Admin\Desktop\projets\Visual\Library.xml
</value>
            </setting>
        </MyWindowsMediaPlayer.Conf.Settings1>
    </userSettings>
</configuration>